[Unit]
Description=uWSGI instance to serve nvipam 
After=network.target

[Service]
User=nvipam
Group=nginx
WorkingDirectory=/home/nvipam/app
Environment="PATH=/home/nvipam/app/venv/bin"
ExecStart=/home/nvipam/app/venv/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
